@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: #111;
}

p{
     font-family: 'DM Sans', sans-serif;
}

.header{
    height: 72px;
    padding: 16px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #1E1D1D1F;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-links a{
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.nav-links img{
    display: inline;
    align-items: center;
}

.nav-btns{
    display: flex;
    flex-direction: row;
    gap: 38px;
    justify-content: center;
    align-items: center;
}

.nav-btns a{
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.nav-btns a:hover{
    color: #FF4F19;
}

.nav-btn{
    padding: 12px 24px;
    background-color: black;
    color: white;
    font-weight: 800;
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: #FF4F19;
    color: white;
}

/* HERO Section  */
.hero{
    padding: 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -1%;
    padding-top: 20px;
}

.hero h1{
    font-size: 102px;
    text-align: center;
    font-weight: 700;
}

.hero-h1 {
  font-size: 102px; 
  font-weight: 700;

  background: linear-gradient(
    to bottom,
    #00772D,   
    #ED6C85    
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero-button{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.herbt{
    padding: 12px 32px;
    background-color: #FF4F19;
    border: none;
    color: white;
    font-weight: 800;
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.herbt:hover{
    background-color: black;
}

.hero-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    width: 100%;
    height: auto;
}
.hero-img img {
  max-width: 1700px;   
  width: 100%;     
  height: auto;
  border-radius: 12px;      
}

/* About Section  */

.about{
    padding: 80px 100px;
}

.about-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.about-head p{
    text-transform: uppercase;
    font-weight: 500;
    color: #222222;
}

.about-head h1{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5%;
    font-weight: 700;
}

.about-grid{
    padding: 80px 100px;
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-radius: 12px;
    
}

.about-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 1px solid #EDEDED; */
    justify-content: center;
}



.about-card img {
  width: 56px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.about-card h4{
    text-align: center;
}

.about-card p{
    text-align: center;
    color: #1E1D1DC7;
    font-size: 16px;
}

/* Features Section  */
.features{
    padding: 80px 100px;
}

.feature-grid{
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature-card {
  background: #FFFFFF;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #EDEDED;
}


.feature-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.feature-head img {
  width: 120px;
}

.feature-text h2 {
  margin: 0;
  font-size: 28px;
}

.feature-text p {
  margin-top: 8px;
  color: #777;
}


.feature-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  border-bottom: 1px solid #e5e5e5;
}

.feature-row .left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.feature-row img {
  width: 40px;
  height: 40px;
}

.feature-row .right {
  color: #555;
}


.feature-btn {
  padding: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-btn:hover{
     transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.feature-btn a {
  display: block;
  text-align: center;
  padding: 16px;
  border: 2px solid #333;
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.feature-btn a:hover{
    background-color: black;
    color: white;
}

/* Card Features  */
.card-feat{
    background-color: #242424;
}

.cards2{
    padding-top: 80px;
}

.cards2 p{
    color: white;
    padding: 40px;
    font-size: 18px;
    line-height: 28px;
    padding-top: 12px;
    
}

.cards2 h1{
    color: white;
}

.cardfeat-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px 100px;
    gap: 30px;
}

.cardfeat-card{
    padding: 50px 50px;
    background-color: white;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    /* max-width: 400px;
   */
}

.cardfeat-card:hover{
    transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.cardfeat-card h4{
    padding-top: 28px;
}

.cardfeat-card p{
    padding-top: 12px;
}

.card-inner{
    width: 100%;
}

/* Testimonials Section  */
.testimonial{
    background-color: #F7F7F7;
    padding: 80px 100px;
}

.testi-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding-top: 56px;
}

.testi-card{
    background-color: #FFFEF0;
    padding: 20px;
    border-radius: 7.2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testi-card:hover{
    transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.testi1{
    font-size: 14.65px;
    color: #004449;
}

.author{
    font-size: 14.65px;
    color: #004449;
    padding-top: 17px;
}

.testi2{
    font-size: 11.4px;
     color: #004449;
    padding-top: 17px;

}

.testi12{
    font-size: 16.19px;
    color: #004449;
}

.testi13{
    font-size: 18px;
    color: #004449;
}

.slide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 32px;
    gap: 40px;
    cursor: pointer;
}

.slide img:hover{
opacity: 0.5;
}

/* Footer Section  */
.footer{
    background-color: #242424;
    padding: 80px 100px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px
}

.footer-card h3{
    color: white;
    font-size: 18px;
}

.footer-card a{
   padding: 10px;
    font-size: 15px;
color: #FFFFFFCC;
opacity: 0.8;
text-decoration: none;
display: flex;
}

.footer-card a:hover{
    opacity: 0.5;
}

/* .footer-card a{
    text-decoration: none;
    padding-top: 14px;
    color: #FFFFFFCC;
} */

.apps{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    padding-top: 30px;
}

.footer-card h5 {
    font-size: 10px;
    padding-top: 24px;
    color: white;
    font-weight: 400;
}

.footer-socials{
    display: flex;
    justify-content: center;
    padding-top: 58px;
    gap: 30px;
}

/* Responsiveness  */
@media (max-width: 768px) {
    .nav-links{
        display: none;
    }

    .header{
        padding: 15px;
    }

    .hero{
        padding: 20px;
    }
    .hero h1{
        font-size: 50px;
    }

    .hero-h1{
        font-size: 50px;
    }

    .about{
        padding: 20px;
    }

    .about-head p{
        font-size: 10px;
    }

    .about-grid{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .about-head h1{
        font-size: 30px;
        text-align: center;
    }

    .feature-grid{
        grid-template-columns: 1fr;
    }

    .features{
        padding: 10px;
    }

    .cardfeat-grid{
        grid-template-columns: 1fr;
        padding: 40px;
    }

    .feature-row span{
        font-size: 12px;

    }

    .feature-text p{
        font-size: 12px;
    }

    .right{
        font-size: 12px;
        text-align: right;

    }

    .testimonial{
        padding: 20px;
    }

    .testi-grid{
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer{
        padding: 40px;
    }
}



